.actionbarRed {
    background-color: #D51A1A;
    /* color: black; */
}

.textModal {
    margin-left: 15;
    margin-top: 15;

}

.button-Selected{
    height: 50;
    vertical-align: center;
    text-align: center;
    background-color: #D51A1A;
    color: #ffffff;
  }

  .button-Deselected{
    height: 50;
    vertical-align: center;
    text-align: center;
    background-color: #d9d9d9;
  }
