<!-- <StackLayout style="background-color: blueviolet;">
    <Label text="hello"></Label>

    <StackLayout class="actionbarRed" orientation="vertical" >
        <StackLayout [height]='getHeight(8)' orientation="horizontal" horizontalalignment="center">
            <Label class="" text="Masukkan Tanggal" style="font-size: large; color: white;"
                verticalalignment="Center"></Label>
        </StackLayout>
    </StackLayout>
    <StackLayout>

    </StackLayout>
    <StackLayout horizontalalignment="center" height="100%" orientation="horizontal" style="background-color: teal;">
        <Label text="Tambahkan" style="background-color: black; color: white; padding: 15; text-align: center;" verticalalignment="bottom" width="100%"></Label>
    </StackLayout>
</StackLayout> -->
<StackLayout>
    <DatePicker (dateChange)="onDateChanged($event)"></DatePicker>
    <Button (tap)="close()" text="OK"></Button>
</StackLayout>