<StackLayout>
    <StackLayout class="actionbarRed" orientation="vertical">
        <StackLayout [height]='getHeight(8)' orientation="horizontal" horizontalalignment="right">
            <Label text="&#xf055;" class="fa button" verticalalignment="bottom" [fontSize]="getHeight(3.5)"
                style="margin: 5; padding: 5; color: aqua;" (tap)="onTap()"></Label>
        </StackLayout>
    </StackLayout>

    <Scrollview height="100%" paddingLeft="10" paddingRight="10">
        <StackLayout paddingLeft="10" paddingRight="10">
            <StackLayout *ngFor="let item of data_detail">
                <GridLayout width="100%" class="item" rows="auto,auto" columns="*,auto">
                    <StackLayout col="0" row="0" padding="5">
                        <Label text="Tanggal Expired : {{item.expired_date}}" class="font-name font-regular" [fontSize]="getHeight(2.2)"
                            horizontalAlignment="left" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout col="0" row="1" padding="5">
                        <Label text="Tanggal Masuk : {{item.date}} {{item.time}}" class="font-name font-regular" [fontSize]="getHeight(2.2)" horizontalAlignment="left"
                            textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout col="1" rowSpan="2" orientation="horizontal" horizontalAlignment="right"
                        style="width: 25%;">
                        <StackLayout verticalAlignment="center" height="100%"
                            width="30%">
                            <Label id="btn{{item.list_id}}" text="-" horizontalAlignment="center" style="font-size: 20;" (tap)="openPopupMenu(item)"></Label>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </Scrollview>
</StackLayout>
