<StackLayout>
    <StackLayout class="actionbarRed" orientation="horizontal" >
        <StackLayout [height]='getHeight(8)' orientation="horizontal">
            <Label text="&#xf060;" class="fa" horizontalAlignment="right"></Label>
        </StackLayout>
    </StackLayout>

    <Listview [items]="data" height="100%">
        <ng-template let-item="item">
            <!-- <GridLayout class="list-group-item" rows="*" columns="auto, *">
                <Image row="0" col="0" [src]="item.src" class="thumb img-circle"></Image>
                <Label row="0" col="1" [text]="item.text" textWrap="true"></Label>
            </GridLayout> -->
            <StackLayout marginTop="10" class="item" orientation="horizontal">
                <StackLayout (tap)="toDetail(item.id)" padding="5">
                    <Label [text]="item.text" class="font-name font-regular" [fontSize]="getHeight(2.2)"
                        horizontalAlignment="center" textWrap="true"></Label>
                </StackLayout>
                <StackLayout orientation="horizontal" horizontalAlignment="center"
                    style="width: 100%; border-top-width: 1; border-top-color: rgb(170, 170, 170)">
                    <StackLayout (tap)="incdec(0,item.id)" verticalAlignment="center" height="100%" width="30%">
                        <Label text="-" horizontalAlignment="center" class="font-regular"></Label>
                    </StackLayout>
                    <StackLayout verticalAlignment="center" height="100%" width="35%"
                        style="border-left-width: 1; border-right-width: 1; border-color: rgb(170, 170, 170)">
                        <Label [text]="item.qty" horizontalAlignment="center" class="font-regular"></Label>
                    </StackLayout>
                    <StackLayout (tap)="incdec(1,item.id)" verticalAlignment="center" height="100%" width="30%">
                        <Label text="+" horizontalAlignment="center" class="font-regular"></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </Listview>
</StackLayout>
