<StackLayout backgroundColor="#e8e7e7">
    <StackLayout class="actionbarRed" orientation="vertical" >
        <StackLayout [height]='getHeight(8)' orientation="horizontal" horizontalalignment="right">
            <Label text="&#xf055;"  class="fa button" verticalalignment="bottom"  [fontSize]="getHeight(3.5)"
                style="margin: 5; padding: 5; color: aqua;" (tap)="onTap()"></Label>
        </StackLayout>
    </StackLayout>
    <GridLayout rows="*, auto">
        <Scrollview row="0" height="100%" paddingLeft="10" paddingRight="10">
            <StackLayout>
                <StackLayout *ngFor="let item of data">
                    <GridLayout width="100%" class="item" columns="*,auto">
                        <StackLayout col="0" (tap)="toDetail(item.list_id)" padding="5">
                            <Label [text]="item.name" class="font-name font-regular" [fontSize]="getHeight(2.2)"
                                horizontalAlignment="center" textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout col="1" orientation="horizontal" horizontalAlignment="right"
                            [visibility]="!order ? 'visible' : 'collapsed'"
                            style="width: 25%; border-left-width: 1; border-left-color: rgb(170, 170, 170)">
                            <StackLayout (tap)="incdec(0,item.list_id,item.stock)" verticalAlignment="center" height="100%"
                                width="30%">
                                <Label text="-" horizontalAlignment="center" style="font-size: 14;"></Label>
                            </StackLayout>
                            <StackLayout verticalAlignment="center" height="100%" width="40%"
                                style="border-left-width: 1; border-right-width: 1; border-color: rgb(170, 170, 170)">
                                <Label [text]="item.qty" horizontalAlignment="center" class="font-regular"></Label>
                            </StackLayout>
                            <StackLayout (tap)="incdec(1,item.list_id,item.stock)" verticalAlignment="center" height="100%"
                                width="30%">
                                <Label text="+" horizontalAlignment="center" style="font-size: 14;"></Label>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout col="1" orientation="horizontal" horizontalAlignment="right"
                            [visibility]="order ? 'visible' : 'collapsed'"
                            style="width: 25%; border-left-width: 1; border-left-color: rgb(170, 170, 170)">
                            <StackLayout verticalAlignment="center" height="100%" width="100%">
                                <Label text="Stok: {{item.stock}}" horizontalAlignment="center" textwrap="true"
                                    class="font-regular"></Label>
                            </StackLayout>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
            </StackLayout>
        </Scrollview>
        <StackLayout row="1" width="100%" orientation="horizontal" horizontalAlignment="right">
            <Button (tap)="batal()" text="BATAL" [visibility]="isKirim ? 'visible' : 'collapsed'" class="button font-bold"></Button>
            <Button (tap)="kirim()" text="KIRIM" class="button-Selected font-bold"></Button>
        </StackLayout>
    </GridLayout>
    <!-- <AbsoluteLayout height="100%" width="100%">
        <Button></Button>
    </AbsoluteLayout> -->
</StackLayout>
